@charset 'utf-8';
$margin-center: 0 auto;
$font-default: 14px;
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vujvs3');
  src:  url('../fonts/icomoon.eot?vujvs3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vujvs3') format('truetype'),
    url('../fonts/icomoon.woff?vujvs3') format('woff'),
    url('../fonts/icomoon.svg?vujvs3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quill:before {
  content: "\e907";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-search:before {
  content: "\e986";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}


@mixin body-default {
	body {
		color: #5c5c5c;
		background: #F3F3F3;
		font-family: "Helvetica,Arial","PingFang SC","Microsoft YaHei","WenQuanYi Micro Hei","tohoma,sans-serif";
		font-size: $font-default;
		text-align: center;}
	body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {
		margin: 0;
		padding: 0;
		}
	input, select {
		font-size: 16px;
		vertical-align: middle;
		}
	textarea, input {
		word-wrap: break-word;
		word-break: break-all;
		padding: 0;
		}
	li {list-style-type: none;}
	img {border: 0 none;}
	a {
		color: #5c5c5c;
		font-size: $font-default;
		text-decoration: none;
		}
}
@include body-default;
.wrap {
	overflow: hidden;
}
.header {
	width: 100%;
	height: 58px;
	background-color: #FFF;
	position: fixed;
	top: 0;
	z-index: 99;
	.center-box {
		width: 960px;
		height: 58px;
		margin: $margin-center;
	}
	.logo {
			float: left;
			height: 58px;
			padding-right: 25px;
		img {
			height: 40px;
			margin-top: 9px;
		}
	}
	.header-nav {
		float: left;
		overflow: hidden;
		width: 450px;
		li {
			float: left;
			margin: 0 15px;
		}
		a {
			font-size: 16px;
			line-height: 58px;
		}
		a:hover,
		.active {
			color: #57adfd;
		}
	}
	.search-box {
		float: left;
		width: 187px;
		height: 27px;
		border: 1px solid #ddd;
		border-radius: 50px;
		margin-top: 15px;
		form {
			display: block;
			height: 27px;
		}
		input {
			width: 70%;
			border: none;
			outline: none;
			font-size: 12px;
			line-height: 27px;
			text-align: left;
		}
		button {
			float: right;
			width: 10%;
			height: 20px;
			border: none;
			outline: none;
			background: url('../image/search.png') no-repeat 5% 49%;
			background-size: 20px;
			margin-right: 5%;
			margin-top: 2%;
		}
	}
	.login {
		float: right;
		margin-top: 15px;
		a {
			display: inline-block;
			width: 52px;
			height: 28px;
			font-size: 16px;
			text-align: center;
			line-height: 28px;
			border-radius: 50px;
			letter-spacing: 3px; 
		}
		.active {
			color: #fff;
			background-color: #57adfd;
		}
	}
}
.content {
	overflow: hidden;
	background-color: #eee;
	margin-top: 58px;
	.bannar {
		width: auto;
		background-color: #3f4247;
	}
	.bannar-slider {
		overflow: hidden;
		width: 1200px;
		height: 422px;
		margin: $margin-center;
	}
	.bannar-box {
		width: 12000px;
		height: 420px;
		li {
			float: left;
		}
	}
	.bannar-btn {
		width: 1200px;
		height: 114px;
		margin: $margin-center;
		li {
			overflow: hidden;
			float: left;
			width: 148px;
			height: 112px;
			border: 1px solid rgba(184,184,186,0.3);
			opacity: 0.5;
		}
		li:hover {
			border: 1px solid rgba(184,184,186,1);
			opacity: 1;
		}
		img {
			height: 112px;
			margin-left: -83.5px;
		}
	}
	.experience {
		padding-top: 40px;
		background-color: #fff;
	}
	.experience-box {
		width: 960px;
		padding-bottom: 40px;
		margin: 0 auto;
		position: relative;
	}
	.title {
		height: 40px;
	}
	.title h2 {
		float: left;
		width: 200px;
		font-size: 22px;
		font-weight: 400;
		color: #898989;
		text-align: left;
	}
	.more {
		float: right;
		width: 100px;
		height: 29px;
		line-height: 29px;
		text-align:right;
		color: #8fc5fe;
		&:hover {
			color: #0075bf;
		}
	}
	.tab-slider {
		width: 960px;
		overflow: hidden;
		padding-top: 20px;
	}
	.tab-box {
		width: 2000px;
		li {
			float: left;
			height: 275px;
			overflow: hidden;
			margin-right: 20px;
			position: relative;
		}
		img {
			width: 225px;
			height: 275px;
			border-radius: 4px;
		}
	}
	a {
		display: block;
	}
	@mixin tab-active(){
		@keyframes fadeIn {
			0% {
			opacity: 0; /*初始状态 透明度为0*/
			}
			50% {
			opacity: 0.5; /*中间状态 透明度为0*/
			}
			100% {
			opacity: 0.5; /*结尾状态 透明度为1*/
			}
		}
		.tab-info {
			background-image: linear-gradient(to bottom,transparent,#000);
		}
		.shadow {
			background-color: (0,0,0,0.2);
			background-image: linear-gradient(to top,transparent,#000);
			animation-name: fadeIn;
			animation-duration: 1s;
			animation-iteration-count: 1;
			animation-delay: 0s; 
		}
	}
	.tab-box li:hover {
		@include tab-active();
	}
	.shadow {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		border-radius: 4px;
	}
	.tab-info {
		width: 100%;
		height: 80px;
		position: absolute;
		bottom: 0;
		z-index: 1;
		padding: 20px 10px 0px 10px;
		h3,p {
			text-align: left;
			color: #fff;
		}
		p {
			width:90%;
			font-size: 12px;
			margin-top: 8px;
		}
	}
	
	.pre,
	.next {
		width: 40px;
		height: 40px;
		font-size: 60px;
		position: absolute;
		top: 126px;
		color: #57adfd;
	}
	.pre {
		left: -60px;
	}
	.next {
		right: -60px;
	}
	/*最新文章模块*/
	.article {
		background-color: #eee;
	}
	.article-box {
		width: 960px;
		margin: $margin-center;
		padding-top: 40px;
		.title {
			width: 100%;
		}
	}
	.column-left {
		float: left;
		width: 650px;
	}
	.column-right {
		float: right;
	}
	/*文章模块最新用户动态*/
	.column-info {
		width: 650px;
		height: 447px;
		background-color: #fff;
		border-radius: 4px;
		margin-bottom: 30px;
	}
	.clearfix {
		clear: both;
	}
	.user-info {
		height: 65px;
		background-color: #fff;
		padding: 15px 15px 0 15px;
		position: relative;
		a {
			float: left;
			width: 50px;
		}
		img {
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50px;
		}
		.user-name {
			float: left;
			width: 60px;
			height: 50px;
		}
		.user-name span {
			display: block;
			margin-top: 4px;
		}
		.user-name .date {
			position: absolute;
			right: 15px;
			top: 26px;
		}
	}
	.user-img img{
		display: block;
		width: 100%;
		height: 227.5px;
	}
	.img-describe {
		height: 120px;
		position: relative;
	}
	.img-title {
		float:left;
		width: 460px;
		padding: 15px 0 0 25px;
		h3,p {
			text-align: left;
		}
		h3 {
			font-size: 22px;
			font-weight:  400;
			color: #57ADFD;
		}
		p {
			color: #929292;
			margin-top: 10px;
		}
	}
	.comment {
		float:right;
		width: 190px;
		height: 20px;
		position: absolute;
		bottom: 0;
		right: 0;
		color: #929292;
		span {
			font-size: 16px;
			margin-right: 10px;
		}
		i {
			margin-right: 10px;
		}
	}
	.wrap-channel {
		margin-bottom: 30px;
	}
	.channel {
		width: 245px;
		background-color: #fff;
		border-radius: 4px;
		padding: 10px 15px 20px 15px;
	}
	.channel .title {
		width: 100%;
		height: 36px;
		line-height: 36px;
		border-bottom: 2px solid #f2f2f2;
	}
	.title h2 {
		font-size: 16px;
		margin-left: 8px;
	}
	.icon-box {
		width: 100%;
		height: 230px;
	}
	.icon-box li {
		float: left;
		width: 30%;
		margin-top: 8px;
	}
	.icon-box a {
		font-size: 16px;
		color: #69707A;
		height: 30px;
		line-height: 30px;
	}
	.icon-box i {
		float: left;
		font-size: 18px;
		color: #69707A;
		height: 18px;
		padding-top: 6px;
		padding-left: 22px;
	}
	.bar {
		border-radius: 4px;
		margin-bottom: 30px;
	}
	.bar img {
		display: block;
		width: 275px;
	}
	.overflow {
		overflow: hidden;
		height: 360px;
		margin-top: 10px;
	}
	.slider-tab {
		width: 240px;
	}
	.slider-tab li {
		margin-bottom: 2px;
	}
	.three {
		height: 260px;
	}
	.direct-seeding {
		width: 100%;
		height: 48px;
		line-height: 48px;
		background-color: #3f4247;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		&:hover {
			background-color: #57adfd;
		}
	}
	.direct-seeding a {
		float: left;
		width: 100px;
		font-size: 16px;
		color: #fff;
		text-align: left;
		padding: 0 10px 0 30px;
	}
	.direct-seeding a:last-child {
		float: right;
		width: 20px;
	}
	.yj-bar {
		width: 100%;
		margin-top: 10px;
		background: #fff;
	}
	.long-bar img {
		display: block;
		width: 275px;
		height: 51px;
	}
	.small-bar img {
		float: left;
		width: 137.5px;
	}
	.long-bar img,
	.small-bar img {
		opacity: .8;
		&:hover {
			opacity: 1;
		}
	}
}
